<mat-card class="mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>{{city}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="isLoading; else cardContent">
            <mat-spinner [diameter]="24"></mat-spinner>
            <span>Loading...</span>
        </div>
        <ng-template #cardContent>
            <div fxLayout="column" fxLayout.lt-sm="row wrap" fxLayoutGap="2%" *ngIf="weatherData$ | async as data; else errorMessage">
                <div>
                  {{data.main.temp - 273.15 | number : '1.2-2'}} &#176;C
                </div>
                <div>
                  Sunrise : {{data.sys.sunrise*1000 | date:'h:mm:ss a' : '+0100'}}
                </div>
                <div>
                  Sunset : {{data.sys.sunset*1000 | date:'h:mm:ss a' : '+0100'}}
                </div>
            </div>
            <ng-template #errorMessage>
                <div *ngIf="isError" class="error">
                    ERROR!
                </div>
            </ng-template>
        </ng-template>
      </mat-card-content>
</mat-card>