.appContent {
    padding: 1%;
    height: 100%;
}
.zoom {
    cursor: pointer;
    transition: transform 0.1s;
}
.zoom:hover {
    transform: scale(1.04);
}
mat-toolbar {
    background-color: #065a60;
    color: white;
}