<mat-toolbar>
  Europe Weather App
</mat-toolbar>
<div class="appContent">
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="1%" fxLayoutAlign="flex-start">
    <city-card class="zoom" fxFlex="19%" fxFlex.lt-sm="100%" *ngFor="let city of constants.CITIES" [city]="city" (click)="showDetails(city)">
    </city-card>
  </div>
  <br />
  <router-outlet></router-outlet>
</div>