<mat-card class="mat-elevation-z5" *ngIf="city">
    <mat-card-header>
        <mat-card-title>{{city}}'s forecast</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="isLoading; else forecastContent">
            <mat-spinner [diameter]="24"></mat-spinner>
            <span>Loading forecast info...</span>
        </div>
        <ng-template #forecastContent>
            <div *ngIf="!displayError; else errorMessage">
                <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="1%" fxLayoutAlign="flex-start">
                    <ng-container *ngFor="let data of forecastData.list">
                        <div class="forecastBox" fxFlex="19%" fxFlex.lt-sm="100%" *ngIf=isItNineAM(data.dt)>
                            <div fxLayout="column" fxLayout.lt-sm="row wrap" fxLayoutGap="2%">
                                <div>
                                    Date: {{data.dt*1000 | date : 'MMM d, y'}}
                                </div>
                                <div>
                                    Temperature: {{data.main.temp - 273.15 | number : '1.2-2'}} &#176;C
                                </div>
                                <div>
                                    Sea Level: {{data.main.sea_level}} hPa
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <ng-template #errorMessage>
                <div class="error">Error while fetching data!</div>
            </ng-template>
        </ng-template>
    </mat-card-content>
</mat-card>